
  .active {
    background-color: #4CAF50;
  }
  ul {
    /* position: fixed; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A52A2A;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111111;
  }
  .username:hover {
    background-color: #333333;
  }
  .profile-in{
    float: right;
    /* background-color: #ff3300; */
  }
  
  
  @media (max-width: 980px) {
    ul {
      width:fit-content;
    }}