

  
#core{
    display: flex; 
    align-items: center;
}

/*homepage*/
.wrapper-divider{
    margin-right: 3.7em;
    display: flex;
    align-self: stretch;
    justify-content: center;
}

/*homepage*/
.wrapper-divider .divider{
    width: 1px;
    background-color: #036897;
    margin: 4.5em 0 1.5em;
}

/*login*/
#app-promo{
    margin-left: 1.7em;
    padding-top: 4.00em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

/*login*/
.promo-slogans{
   position: relative;
}


/*login*/
.promo-slogans > h1{
    margin-bottom: 1.0em;
    opacity: 1;
}

/*login*/
#app-promo p{
    font-size: 1.6em;
}


/*login*/
#login{
    margin-right: 1.7em;
    padding-top: 4.00em;
    display: flex;
    flex-direction: column;
}

/*login*/
#login form input[type=text], #login form input[type=password]{
    width: 19em;
    font-size: 1.3em;
    border: 1px solid #f4f0f5ee;
    color: #000000;
    background-color: #f4f0f5d0;
    border-radius: 5px; /* See compatibility with older browsers */
    padding:0.6em 0.6em;
}

/*login*/
#login form input[type=submit]{
    width: 19em;
    margin-top: 1.0em;
    margin-left: 1.3em;
    font-size: 1.3em;
    font-weight: bold;
    border: 1px solid #f4f0f5;
    color: #ffffff;
    background-color: #ff3300;
    border-radius: 5px; /* See compatibility with older browsers */
    padding:0.6em 0.6em;
}

#login form input[type=submit]:hover{
    cursor: pointer;
}

/*login*/
.usercheck, .passcheck{
    color: green; /*change color*/
    font-size: 1.3em;
    display: none;
}

/*login*/
.usernotcheck, .passnotcheck{
    color: red; /*change color*/
    font-size: 1.3em;
    display: none;
}

/*login*/
.checkuser li{
    display: none;
    color: red; /*change color*/
    margin: 1em 0 0 2em;
}

/*login*/
.checkpassword{
    color: #666666;
    display: none;
}

/*login*/
.checkpassword ul > li{
    margin-left: 2em;
}

/*login*/
.checkpassword ul li > span{
    color: green; /*change color*/
    display: none;
}


@media (max-width: 980px) {
    #core { 
        flex-direction: column-reverse;
    }
    #login{
        
        display: flex;
        justify-content: center;
    }
    #app-promo{
        justify-content: center;
    }
  }